<header class="header1">
  <!-- Header desktop -->
  <div class="container-menu-header">
    <%= render 'shared/header_files/topbar' %>
    <%= render 'shared/header_files/header_menu' %>
  </div>

  <!-- Header Mobile -->
  <%= render 'shared/header_files/header_mobile' %>

  <!-- Menu Mobile -->
  <%= render 'shared/header_files/menu_mobile' %>
</header>