<section class="slide1">
  <div class="wrap-slick1">
    <div class="slick1">
      <div class="item-slick1 item1-slick1" style="background-image: url(<%= image_url 'sliders/c1.jpg' %>);"></div>
      <div class="item-slick1 item2-slick1" style="background-image: url(<%= image_url 'sliders/c2.jpg' %>);"></div>
      <div class="item-slick1 item3-slick1" style="background-image: url(<%= image_url 'sliders/c3.jpg' %>);"></div>
    </div>
  </div>
</section>