/public/assets/*
/public/uploads/*
/db/schema.rb
# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
/config/schedule.rb
/config/vcr_cable.yml
/development_cassettes/vcr_cable_cassette.yml
/node_modules
/app/assets/javascripts/vendor
/.vscode
/public/packs
/node_modules
/package-lock.json
vendor/cache/
vendor/bundle/
.idea/
.byebug_history
coverage
/config/application.yml
/.bundle/
.DS_Store
.rbenv-gemsets
/dump.rdb
!/.bundle/config
.browserslistrc
