<div class="bo4 of-hidden size15 m-b-20" id="password_confirmation_div">
  <%= password_field_tag :user_password_confirmation, nil, class: 'sizefull s-text7 p-l-22 p-r-22',
                         placeholder: t('user.form.password_confirmation-hint'), name: 'user[password_confirmation]',
                         data: { presence: t('user.form.password_confirmation-hint') } %>
</div>